<nav class="navbar">
  <button class="nav-home-btn" (click)="onHome()">Accueil</button>
  <span class="catalogue-title">Catalogue des garages</span>
</nav>

<div class="catalogue-container">
    <div class="card" *ngFor="let entrepot of entrepots">
      <img [src]="entrepot.imageUrl" [alt]="entrepot.nom" />
      <h2>{{ entrepot.nom }}</h2>
      <p class="prix">{{ entrepot.prixLocation }} $ / semaine</p>
      <p><strong>Capacité des armoires :</strong> {{ entrepot.capaciteArmoires | number:'1.0-0':'en' }} Kg</p>
        <p><strong>Capacité du coffre-fort :</strong> {{ entrepot.capaciteCoffre }} Kg</p>
    </div>
  </div>
  