<nav class="navbar">
  <button class="nav-home-btn" (click)="onHome()">Accueil</button>
  <span class="catalogue-title">Catalogue des habitations</span>
</nav>

<div class="catalogue-container">
    <div class="maisons-grid">
      <div class="maison-card" *ngFor="let maison of maisons">
  
        <div class="carousel-container">
          <button 
            class="nav-btn" 
            *ngIf="maison.imageUrls.length > 1" 
            (click)="prevImage(maison)">
            &lt;
          </button>
        
          <img [src]="getCurrentImage(maison)" [alt]="maison.nom" />
        
          <button 
            class="nav-btn" 
            *ngIf="maison.imageUrls.length > 1" 
            (click)="nextImage(maison)">
            &gt;
          </button>
        </div>
  
        <h2>{{ maison.nmVisible ? maison.nom + ' non meublée': maison.nom }}</h2>
        <p class="prix">
          {{ maison.nmVisible ? maison.locationNm + ' $ / semaine' : maison.locationSemaine + ' $ / semaine' }}
        </p>

  
        <button class="details-btn" (click)="toggleDetails(maison)">
          {{ maison.detailsVisible ? 'Fermer les détails' : 'Détails' }}
        </button>
  
        <div *ngIf="maison.detailsVisible" class="details">
          <ng-container *ngIf="!maison.nmVisible">
            <p *ngIf="maison.achat > 0"><strong>Achat :</strong> {{ maison.achat }} $</p>
            <p *ngIf="maison.achat === 0">Cette habitation n'est pas disponible à la <b>vente</b></p>
            <p *ngIf="maison.capaciteArmoires > 0"><strong>Capacité des armoires :</strong> {{ maison.capaciteArmoires }} Kg</p>
            <p *ngIf="maison.capaciteCoffre > 0"><strong>Capacité du coffre-fort :</strong> {{ maison.capaciteCoffre }} Kg</p>
            <p *ngIf="maison.imageUrls.length > 1 && !maison.nm" class="image-name"><strong>Coloris :</strong> {{ getImageName(getCurrentImage(maison)) }}</p>
          </ng-container>
        
          <ng-container *ngIf="maison.nmVisible">
            <p><strong>Achat (Non meublée) :</strong> {{ maison.venteNm}} $</p>
          </ng-container>
        </div>
        
        <button 
          *ngIf="maison.nm && maison.detailsVisible" 
          class="nm-btn"
          (click)="maison.nmVisible = !maison.nmVisible">
          {{ maison.nmVisible ? 'Voir en version meublée' : 'Voir en version non meublée' }}
        </button>
      </div>
    </div>
  </div>
  